@page
@model SistemaBuscador.Pages.ActualizarUsuarioModel
@{
}

<div class="card">
    <div class="card-header bg-primary text-white">
        <h3>Actualizar usuario</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreUsuario"></label>
                <input asp-for="NombreUsuario" type="text" class="form-control" readonly />
                <span class="text-danger" asp-validation-for="NombreUsuario"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres"></label>
                <input asp-for="Nombres" type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="Nombres"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos"></label>
                <input asp-for="Apellidos" type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="Apellidos"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolId"></label>
                <select asp-for="RolId" class="form-control" asp-items="Model.Roles">
                    <option value="">--Seleccione--</option>
                </select>
                <span class="text-danger" asp-validation-for="RolId"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisId"></label>
                <select asp-for="PaisId" class="form-control" asp-items="Model.Paises">
                    <option value="">--Seleccione--</option>
                </select>
                <span class="text-danger" asp-validation-for="PaisId"></span>
            </div>
            <a asp-page="Usuarios" class="btn btn-secondary">Volver</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <div asp-validation-summary="All" class="text-danger mt-3"></div>
        </form>
    </div>

</div>
