*63-+
+3654@page
@model SistemaBuscador.Pages.CambioPasswordModel
@{
}
<h3>Cambio contraseña</h3>
<hr />
<div class="card">
    <div class="card-body">
        <form method="post">
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />

                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword">Repetir Contraseña</label>
                <input asp-for="RePassword" type="password" class="form-control" />
                <span class="text-danger" asp-validation-for="RePassword"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger mt-3"></div>
            <a asp-page="Usuarios" class="btn btn-secondary">Volver</a>
            <button class="btn btn-primary">Guardar</button>
        </form>

    </div>
</div>  
