@page
@model SistemaBuscador.Pages.EliminarPaisModel
@{
}

<h3>Elimiar Pais</h3>
<h4>¿Esta seguro de eliminar el rol : @Model.Nombre ?</h4>
<hr />
<form method="post">

    <a asp-page="Roles" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
